<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar SISTEMATIS</title>
</head>
<body>      

    <section class="row search_form_popup">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Yo soy<br> AXIATECH</h2>
                    <a href="acerca-de-nosotros.php"><i class="fa fa-info-circle"></i>Mas informacion</a>
                </div>
                <div class="col-sm-8">
                    <form action="#" class="row m0">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Buscar proyecto..">
                            <span class="input-group-addon">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>